<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">This System Contains PII</h4>
            </div>
            <div class="modal-body">
                <p>This system contains For Official Use Only (FOUO) information that is Privacy Act Sensitive and must be appropriately marked and protected per
                DoDM 5200.01-V4, February 24, 2012. Any application web page that is marked "FOUO Privacy Sensitive" at the top of the screen (in the very top right corner) contains Sensitive
                Privacy Act Information and must be further marked if printed, electronically transmitted, or electronically stored outside the application.</p>
                
                <ul>
                    <li>For printouts, "FOUO Privacy Sensitive" must be marked at the bottom of each page.</li>
                
                    <li>For electronically transmitted messages, subject line shall contain "FOUO Privacy Sensitive" or if the information is an attachment "FOUO Privacy
                    Sensitive Attachment".</li>
                    <li>For electronically stored information, including message text and files attached to messages, the information must be marked "FOUO Privacy Sensitive"
                    at the beginning and end of the FOUO text. If stored on physical media, the media must be marked "FOUO Privacy Sensitive".</li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('Cancel')" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Ok</button>
            </div>
        </div>
    </div>
</div>