<!DOCTYPE html>
<html style="height: 101%;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Pray for IE to work -->

    <link rel="stylesheet" href="libs/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body ng-app="CommandCentral" style="overflow: auto;">

    <!-- BEGIN BODY HEAD -->
    <div class="container-fluid" id="publicdiv">
        <div class="row header_color">
            <div class="col-md-12 col-md-8 col-sm-8">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>

                            <td width="100" align="center"><a ng-href="#/"><img src="img/niocga.png" class="command_logo"></a></td>
                            <td valign="middle">
                                <span class="header_left">
                                    <span class="header_txt">
                                        NIOC Georgia<br>
                                        Command Central
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-md-4  header_right visible-lg visible-md visible-sm visible-xs">
                <span class="header_small_title pull-right no-print" ng-show="containsPII">FOUO Privacy Sensitive</span><br />
                <span class="header_txt pull-right no-print">Version 1.0.5</span>
            </div>
        </div>
    </div>
    <!-- END BODY HEAD -->
    <!-- BEGIN NAV BAR -->
    <div ng-show="showNav" class="container no-print">
        <div class="navbar navbar-default" id="mainNav" ng-controller="NavController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Command Central</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/')}"><a href="#/" ng-click="resetPIIBanner()">Home</a></li>
                    <li uib-dropdown ng-class="{ active: isActive('/search') || isActive('/searchbyfield') || isMyProfileActive()}">
                        <a id="search-dropdown" uib-dropdown-toggle href>Profiles<span class="caret"></span></a>
                        <ul uib-dropdown-menu aria-labelledby="search-dropdown" class="dropdown-menu">
                            <li ng-class="{ active: isMyProfileActive()}"><a ng-href="{{getMyProfileURL()}}" ng-click="resetPIIBanner()">My Profile</a></li>
                            <li ng-class="{ active: isActive('/search')}"><a href="#/search" ng-click="resetPIIBanner()">Search</a></li>
                            <li ng-class="{ active: isActive('/searchbyfield')}"><a href="#/searchbyfield" ng-click="resetPIIBanner()">Search by Field</a></li>
                            <li ng-class="{ active: isActive('/createuser')}" ng-if="canCreatePerson()"><a href="#/createuser">Create User <span class="glyphicon glyphicon-plus"></span></a></li>
                        </ul>
                    </li>
                    <li uib-dropdown ng-class="{ active: isIn('/muster') }">
                        <a id="muster-dropdown" uib-dropdown-toggle href>Muster<span class="caret"></span></a>
                        <ul uib-dropdown-menu aria-labelledby="muster-dropdown" class="dropdown-menu">
                            <li ng-class="{ active: isActive('/muster')}"><a href="#/muster" ng-click="resetPIIBanner()">Today's Muster</a></li>
                            <li ng-class="{ active: isActive('/muster/archive')}"><a href="#/muster/archive" ng-click="resetPIIBanner()">Muster Archive</a></li>
                            <li ng-class="{ active: isActive('/muster/finalize')}" ng-if="canFinalizeMuster()"><a href="#/muster/finalize" ng-click="resetPIIBanner()">Finalize Muster</a></li>
                        </ul>
                    </li>
                    <li ng-if="canUseWatchbillTools()" ng-class="{ active: isIn('/watchbill')}"><a href="#/watchbill" ng-click="resetPIIBanner()">Watchbills</a></li>
                    <li uib-dropdown ng-if="canUseAdminTools()">
                        <a id="admin-dropdown" uib-dropdown-toggle href>Admin Tools<span class="caret"></span></a>
                        <ul uib-dropdown-menu aria-labelledby="muster-dropdown" class="dropdown-menu">
                            <li><a href="#/admin/editlists" ng-click="resetPIIBanner()">Edit Lists</a></li>
                            <li><a href="#/admin/editcommands" ng-click="resetPIIBanner()">Edit Commands</a></li>
                        </ul>
                    </li>

                    <li><a href="#/feedback" ng-click="resetPIIBanner()"><span class="glyphicon glyphicon-comment"></span> Feedback</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/faq" ng-click="resetPIIBanner()"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                    <li><a href="" ng-click="logout()">Logout</a></li>
                </ul>

            </div>
        </div>
    </div>
    <!-- END NAV BAR -->
    <!-- MAIN BODY VIEW -->
    <div class="container">
        <div ng-view></div>
    </div>


    <br>


    <div class="container no-print" ng-controller="ModalServiceController">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 text-center">
                <a href ng-click="show()">Re-show PII info</a>
            </div>
        </div>
    </div>
    <div class="container no-print" ng-controller="SetPortController">
        <div ng-if="showPortController" class="row">
            <form class="form-inline">
                <div class="form-group">
                    <label for="portInput">Current URL: {{currentURL}}</label>
                    <input type="text" class="form-control" id="portInput" placeholder="1113" ng-model="newPort">
                    <button type="submit" class="btn btn-default" ng-click="setPort(newPort)">Set Port</button>
                </div>
            </form>
        </div>
    </div>
    <script src="libs/jquery-2.2.1.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="libs/mask.min.js"></script>
    <script src="libs/angular-touch.min.js"></script>
    <script src="libs/angular-modal-service.js"></script>
    <script src="libs/ngStorage.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.2.4.min.js"></script>
    <script src="currentbuild/command-central.js"></script>
    <script src="config.js"></script>
</body>

</html>

<!--<script type="text/javascript">
    if (window.location.protocol != "https:") {
        document.documentElement.innerHTML = "Redirecting to https...";
        setTimeout(function() {
            window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
        }, 1000);
    }
</script>-->
