<span ng-if="ngModel.WatchAssignment" class="label label-success" style="font-size: 9px;"
      uib-tooltip="{{ngModel.Title + ' at ' + (ngModel.Range.Start | date: 'HHmm') +
                                    '. Currently assigned to: ' + ngModel.WatchAssignment.PersonAssigned.FriendlyName}}">
                                        {{ngModel.Title}} {{daysText()}}: {{ngModel.WatchAssignment.PersonAssigned.FriendlyName.split(',')[0]}}
                                    </span>
<span ng-if="!ngModel.WatchAssignment" class="label label-default"
      uib-tooltip="{{ngModel.Title + ' from ' + (ngModel.Range.Start | date: 'short') + ' to ' + (ngModel.Range.End | date: 'short')}}">&nbsp{{ngModel.Range.Start | date: 'HHmm'}} <strong>{{ngModel.Title}}</strong> <span
        ng-if="days">({{days}} days)</span>&nbsp</span>