<div class="panel panel-default">
    <form>
        <h3>Create New Watchbill</h3>
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title"
                           ng-model="title" tabindex="1"/></div>
                <div class="form-group">
                    <label for="from">Start Date</label>
                    <ng-custom-date-picker id="from" ng-model="from" tabindex="3"></ng-custom-date-picker>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="eligibilityGroup">Type of Watchbill</label>
                    <br/>
                    <select class="form-control" id="eligibilityGroup" ng-model="group" tabindex="2"
                            ng-options="o as o.Value for o in ngModel | orderBy: 'Value' track by o.Id">
                    </select>
                </div>
                <div class="form-group">
                    <label for="to">End Date</label>
                    <ng-custom-date-picker id="to" ng-model="to" tabindex="4"></ng-custom-date-picker>
                </div>
            </div>
        </div>
        <button class="btn btn-success btn-sm" ng-click="createNewWatchBill()">Create</button>
        <br/>
        <br/>
    </form>
</div>
