<li class="list-group-item row" ng-class="{active: hover}"
   ng-mouseenter="hover = true" ng-mouseleave="hover = false">
    <div ng-click="go('/watchbill/' + watchbill.Id)" class="col-md-3"><strong>Name: "{{watchbill.Title}}"</strong></div>
    <div ng-click="go('/watchbill/' + watchbill.Id)" class="col-md-4">Type of Watchbill: {{watchbill.ElligibilityGroup.OwningChainOfCommand}}</div>
    <div ng-click="go('/watchbill/' + watchbill.Id)" class="col-md-4 text-right" tooltip-placement="top-right" uib-tooltip="{{watchbill.CurrentState.Description}}">
        State: {{watchbill.CurrentState.Value}} <span class="glyphicon glyphicon-question-sign"></span></div>
    <div class="col-md-1">
        <a href="" class="btn btn-xs btn-danger" ng-click="showDeleteWarning=true"
           ng-show="!showDeleteWarning">Delete <span class="glyphicon glyphicon-remove"></span></a>
        <span ng-show="showDeleteWarning">Sure?<a href="" ng-click="deleteWatchbill(watchbill.Id)"
                                                           class="btn btn-xs btn-danger">Yes</a>
            <a href="" ng-click="showDeleteWarning=false" class="btn btn-xs btn-success">No</a>
        </span></div>
</li>
<!--<div class="input-group">-->
<!--<span class="input-group-addon" id="searchAddon{{fieldName}}">{{fieldName}}<span-->
<!--ng-if="fieldType == \'DateTime\'"><br>(From/To)</span></span>-->
<!--<input ng-if="fieldType == \'Boolean\'" type="text" class="form-control" disabled>' +-->
<!--<span class="input-group-addon" ng-if="fieldType == \'Boolean\'"><input type="checkbox"-->
<!--aria-describedby="searchAddon{{fieldName}}"-->
<!--ng-model="ngModel[fieldName]"></span>-->
<!--<input ng-if="fieldType == \'String\'" type="text" class="form-control" aria-describedby="searchAddon{{fieldName}}"-->
<!--ng-model="ngModel[fieldName]">-->
<!--<ng-custom-date-picker ng-if="fieldType == \'DateTime\'" aria-describedby="searchAddon{{fieldName}}"-->
<!--ng-model="ngModel[fieldName][0][\'From\']"></ng-custom-date-picker>-->
<!--<ng-custom-date-picker ng-if="fieldType == \'DateTime\'" aria-describedby="searchAddon{{fieldName}}"-->
<!--ng-model="ngModel[fieldName][0][\'To\']"></ng-custom-date-picker>-->
<!--<input ng-if="fieldType != \'String\' && fieldType != \'DateTime\' && fieldType != \'Boolean\'" type="text"-->
<!--value="This field is not searchable" class="form-control" aria-describedby="searchAddon{{fieldName}}"-->
<!--disabled>-->
<!--</div>-->