<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}</div>
<div ng-show="messages" ng-repeat="message in messages track by $index" class="alert alert-success status_message">{{message}}</div>
<div class="content_panel">
	<div class="row text-center">
		<div class="col-xs-offset-1 col-xs-10">
            <div class="alert alert-warning" role="alert">
                <strong>You are about to finalize Muster.</strong> This is for the <strong>entire command</strong> and <strong>cannot be undone</strong>.
            </div>
            <br />
            <div>
                Once muster is finalized for the day, it is effectively set in stone for the entire command. Please check the below checkbox to acknowledge this warning.
            </div>
            <br />
            <div>
                <label><input type="checkbox" ng-model="readyToFinalize" /> I understand that clicking below will permanently finalize today's muster records.</label>
            </div>
		</div>
	</div>
	
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 text-center">
            <button class="btn btn-primary" type="button" ng-disabled="!readyToFinalize" ng-click="finalizeMuster()">Finalize</button>
        </div>
    </div>
</div>
