<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}</div>
<div ng-show="messages" ng-repeat="message in messages track by $index" class="alert alert-success status_message">{{message}}</div>
<div class="content_panel">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="form-group">
                <select name="divisionDropdown" id="divisionDropdown" class="form-control" ng-model="selectedDivision" ng-change="setDivision(selectedDivision)">
                    <option value="All">All</option>
                    <option ng-repeat="o in divisions | orderBy:'toString()' track by $index" ng-value="o">{{o}}</option>
                </select>
                <label for="divisionDropdown">Select group to show. (IMPORTANT NOTE: Muster will only be submitted for the selected group.)</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
            <div class="text-center" ng-show="dataLoading"><br/><img src="img/loading.gif" height="32" width="32"/><br/>Loading...</div>
			<h3 class="text-center" ng-show="displaySailorsList.length">Showing {{displaySailorsList.length}} sailors in {{selectedDivision}}.</h3>
            <div class="progress" ng-show="filteredDisplaySailorsList.length" >
                <div class="progress-bar" role="progressbar" aria-valuenow="{{100*(1-unmusteredSailorsList.length/displaySailorsList.length)}}"
                     aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width:{{100*(1-unmusteredSailorsList.length/displaySailorsList.length)}}%">
                    {{100*(1-unmusteredSailorsList.length/displaySailorsList.length) | number: 2}}% Mustered
                </div>
            </div>
            <div class="text-center" ng-show="filteredDisplaySailorsList.length" >
                {{displaySailorsList.length-unmusteredSailorsList.length}}/{{displaySailorsList.length}} Sailors mustered.
            </div>
            <div ng-show="displaySailorsList.length" class="text-center checkbox">
                <label>
                    <input ng-model="showUnmustered" type="checkbox"> Show only unmustered sailors
                </label>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4"><h4 div="text-center" ng-show="filteredDisplaySailorsList.length">Click a column to sort by it.</h4></div>
                <div class="col-md-offset-2 col-md-2">
                    <label ng-show="filteredResults.length" for="itemsPerPageSelect">Items per page:</label>
                    <select id="itemsPerPageSelect" ng-model="itemsPerPage" ng-init="itemsPerPage='50'" ng-show="filteredDisplaySailorsList.length" class="pull-right form-control">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </div>
            </div>
			<table ng-show="filteredDisplaySailorsList.length" class="table-striped col-md-12">
				<thead>
					<tr>
                        <th ng-click="setOrder('FriendlyName')">
                            <button ng-class="{'btn-primary': orderKey=='FriendlyName' || orderKey=='-FriendlyName'}">
                                Name
                                <span class="glyphicon glyphicon-chevron-up" ng-if="orderKey=='-FriendlyName'"></span>
                                <span class="glyphicon glyphicon-chevron-down" ng-if="orderKey=='FriendlyName'"></span>
                            </button>
                        </th>
                        <th ng-click="setOrder('Paygrade')">
                            <button ng-class="{'btn-primary': orderKey=='Paygrade' || orderKey=='-Paygrade'}">
                                Paygrade
                                <span class="glyphicon glyphicon-chevron-up" ng-if="orderKey=='-Paygrade'"></span>
                                <span class="glyphicon glyphicon-chevron-down" ng-if="orderKey=='Paygrade'"></span>
                            </button>
                        </th>
                        <th ng-click="setOrder('Designation')">
                            <button ng-class="{'btn-primary': orderKey=='Designation' || orderKey=='-Designation'}">
                                Designation
                                <span class="glyphicon glyphicon-chevron-up" ng-if="orderKey=='-Designation'"></span>
                                <span class="glyphicon glyphicon-chevron-down" ng-if="orderKey=='Designation'"></span>
                            </button>
                        </th>
                        <th ng-click="setOrder('Division')">
                            <button ng-class="{'btn-primary': orderKey=='Division' || orderKey=='-Division'}">
                                Division
                                <span class="glyphicon glyphicon-chevron-up" ng-if="orderKey=='-Division'"></span>
                                <span class="glyphicon glyphicon-chevron-down" ng-if="orderKey=='Division'"></span>
                            </button>
                        </th>
                        <th ng-click="setOrder('HasBeenMustered')">
                            <button ng-class="{'btn-primary': orderKey=='HasBeenMustered' || orderKey=='-HasBeenMustered'}">
                                Mustered Today?
                                <span class="glyphicon glyphicon-chevron-up" ng-if="orderKey=='-HasBeenMustered'"></span>
                                <span class="glyphicon glyphicon-chevron-down" ng-if="orderKey=='HasBeenMustered'"></span>
                            </button>
                        </th>
                        <th ng-click="setOrder('CurrentMusterStatus.MusterStatus.toString()')">
                            <button ng-class="{'btn-primary': orderKey=='CurrentMusterStatus.MusterStatus.Value' || orderKey=='-CurrentMusterStatus.MusterStatus.toString()'}">
                                Muster Status
                                <span class="glyphicon glyphicon-chevron-up" ng-if="orderKey=='-CurrentMusterStatus.MusterStatus.toString()'"></span>
                                <span class="glyphicon glyphicon-chevron-down" ng-if="orderKey=='CurrentMusterStatus.MusterStatus.toString()'"></span>
                            </button>
                        </th>
                        <th>Profile</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="sailor in filteredDisplaySailorsList | orderBy: orderKey track by $index" ng-click="goToProfile(result.Id)" class="form-group">
                        <td>{{sailor['FriendlyName']}}</td>
                        <td>{{sailor['Paygrade']}}</td>
                        <td>{{sailor['Designation']}}</td>
                        <td>{{sailor['Division']}}</td>
                        <td>{{sailor['HasBeenMustered'] | yesNo }}</td>
                        <td>
                            <select name="{{sailor.Id}}MusterStatus" class="form-control" ng-model="sailor.CurrentMusterStatus.MusterStatus" ng-options="o.Value as o.Value for o in musterStatuses">
                            </select>
                        </td>
						<td><!--suppress HtmlUnknownAttribute -->
                            <a ng-href="#/profile/{{sailor.Id}}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12 text-center">
            <uib-pagination ng-show="displaySailorsList.length" total-items="displaySailorsList.length" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" max-size="7" class="pagination-sm" boundary-links="true" force-ellipses="true"></uib-pagination>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-2">
            <button class="btn btn-primary" type="button" ng-show="displaySailorsList.length" ng-click="submitMuster(displaySailorsList)">Save</button>
        </div>
    </div>
</div>