<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}</div>
<div class="content_panel" id="news">
	<div class="row">
		<div class="col-xs-12">
			<h2>News<a href="#/createnews" ng-if="!dataLoading && userCanEditNews()" class="btn btn-primary pull-right" style="margin-right: 5px;">New News Item <span class="glyphicon glyphicon-pencil"></span></a></h2>
			<div class="panel panel-primary" ng-repeat="item in newsItems">
				<div class="panel-heading">
					<div class="panel-title">{{item.Title}}
                        <a ng-href="#/updatenews/{{item.Id}}" class="btn btn-xs btn-info pull-right" ng-show="userCanEditNews()">Edit <span class="glyphicon glyphicon-edit"></span></a>
                        <a href="" class="btn btn-xs btn-danger pull-right" ng-click="item.showDeleteWarning=true" ng-show="!item.showDeleteWarning && userCanEditNews()">Delete <span class="glyphicon glyphicon-remove"></span></a>
                        <span ng-show="item.showDeleteWarning" class="pull-right">Really delete?<a href="" ng-click="deleteNewsItem(item.Id)" class="btn btn-xs btn-danger">Yes</a><a href="" ng-click="item.showDeleteWarning=false" class="btn btn-xs btn-success">No</a></span>
                    </div>
                    </div>
				<div class="panel-body">
					<p ng-repeat="paragraph in item.Paragraphs">
						{{paragraph}}
					</p>
				</div>
				<div class="text-right panel-footer">{{item.CreationTime | date:'fullDate'}}</div>
			</div>
			<!--<div class="wrapper">
				<ng-pdf template-url="modules/home/views/home.html"></ng-pdf>
			</div>-->
        </div>
    </div>
			
	<div class="row">
		<div class="col-xs-6 center-block">
			<a ng-click="refreshNews()" ng-disabled="dataLoading" id="singlebutton" name="singlebutton" class="btn btn-primary">
				Reload news <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
								
			</a>
			<small>Last loaded at <strong>{{loadedTime | date: 'short'}}</strong>.<small><br>
		</div>
	</div>
</div>
