<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}
</div>
<div ng-show="messages" ng-repeat="message in messages track by $index" class="alert alert-success status_message">
    {{message}}
</div>
<div class="content_panel">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <H1>{{watchbill.Title}} beginning {{watchbill.WatchDays[0].Date | date: 'longDate'}}</H1>
            <div ng-if="!inputs">
                <br/>
                <h3>There are no inputs waiting for approval</h3>
            </div>
            <div class="list-group">
                <li ng-repeat="input in inputs track by $index" ng-if="input.Id && !input.IsConfirmed" class="list-group-item row" ng-class="{active: hover}"
                    ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <div class="col-md-4"><strong>Person: {{input.Person.FriendlyName}}</strong></div>
                    <div class="col-md-3">Shifts: <br/><span ng-repeat="shift in input.WatchShifts" ng-if="shift.Id">{{shift.Range.Start | date: 'medium'}} {{shift.Title}}<br/></span>
                    </div>
                    <div class="col-md-3 text-right" tooltip-placement="top-right"
                         uib-tooltip="{{input.InputReason.Description}}">
                        Reason: {{input.InputReason.Value}} <span class="glyphicon glyphicon-question-sign"></span>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" ng-click="confirm(input)">Confirm</button>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>