<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}
</div>
<div ng-show="messages" ng-repeat="message in messages track by $index" class="alert alert-success status_message">
    {{message}}
</div>
<div class="content_panel" ng-if="!watchbill">
    Loading...
</div>
<div class="content_panel" ng-if="watchbill">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <a ng-if="watchbill.CurrentState.Value == 'Open for Inputs'" href="#/watchbill/input/{{watchbill.Id}}"
               class="pull-right btn btn-primary">Submits Inputs</a>
            <a href="#/watchbill/{{watchbill.Id}}"
               class="pull-right btn btn-success">Back to Watchbill</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <H1>{{watchbill.Title}} beginning {{watchbill.Range.Start | date: 'longDate'}}</H1>
            <div ng-if="noNewInputs && watchbill">
                <br/>
                <h3>There are no inputs waiting for approval</h3>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{100*(peopleWithInputs/totalPeople)}}"
                     aria-valuemin="0" aria-valuemax="100"
                     ng-style="{'min-width': '4em', 'width': 100*(peopleWithInputs/totalPeople)+'%'}">
                    {{100*(peopleWithInputs/totalPeople) | number: 2}}% of Sailors submitted inputs
                </div>
            </div>
            <br/>
            <br/>
            <div class="list-group">
                <li ng-repeat="input in watchbill.WatchInputs track by $index" ng-if="input.Id && !input.IsConfirmed"
                    class="list-group-item row" ng-class="{active: hover}"
                    ng-mouseenter="hover = false" ng-mouseleave="hover = false">
                    <div class="col-md-6">
                        <strong>Person: {{input.Person.FriendlyName}}</strong>
                        <a ng-href="#/profile/{{input.Person.Id}}"><span class="glyphicon glyphicon-new-window"
                                                                   aria-hidden="true"></span></a>
                        <br/>
                        <span class="text-right" tooltip-placement="top-right"
                              uib-tooltip="{{input.InputReason.Description}}">
                        Reason: {{input.InputReason.Value}} <span class="glyphicon glyphicon-question-sign"></span>
                        </span><br />
                        Rank: {{input.Person.Paygrade.Value}}/{{input.Person.Designation.Value}}
                    </div>
                    <div class="col-md-3">
                        From: {{input.Range.Start | date: 'short'}}<br/>
                        To: {{input.Range.End | date: 'short'}}<br/>
                    </div>

                    <div class="col-md-3">

                        <button class="btn btn-block btn-success" ng-click="confirm(input)">Confirm</button>
                        <button class="btn btn-block btn-danger" ng-click="input.showDeleteWarning=true">Delete</button>
                        <span ng-show="input.showDeleteWarning" class="pull-right">Really delete?<br/><a href=""
                                                                                                         ng-click="delete(input)"
                                                                                                         class="btn btn-xs btn-danger">Yes</a><a
                                href="" ng-click="input.showDeleteWarning=false"
                                class="btn btn-xs btn-success">No</a></span>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>