<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}
</div>
<div ng-show="messages" ng-repeat="message in messages track by $index" class="alert alert-success status_message">
    {{message}}
</div>
<div ng-show="multipleWatches" class="alert alert-warning status_message">
    The following Sailors have been assigned multiple watches this month: <br /><span ng-repeat="watch in multipleWatches track by $index">{{watch.Person.FriendlyName}} <br /> </span>
</div>
<div ng-show="warnings" ng-repeat="warning in warnings track by $index" class="alert alert-warning status_message">
    Input conflict: {{warning.Key.PersonAssigned.FriendlyName}} was assigned the watch shift {{warning.Key.WatchShift.Title}} on {{warning.Key.WatchShift.Range.Start | date: "short"}}, but they
    have an input from {{warning.Value[0].Range.Start | date: "short"}} to {{warning.Value[0].Range.End | date: "short"}} for {{warning.Value[0].InputReason.Value}}.
</div>
<div class="content_panel">
    <div class="row">
        <ng-assignment-editor ng-model="selectedDay" ng-people="watchbill.EligibilityGroup.EligiblePersons"></ng-assignment-editor>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
            <a ng-if="watchbill.CurrentState.Value == 'Closed for Inputs'" ng-click="populate()"
               class="btn btn-primary">Populate</a>
            <a href="#/watchbill/{{watchbill.Id}}"
               class="btn btn-success">Back to Watchbill</a>
            </div>
            <H1>{{watchbill.Title}} beginning {{watchbill.Range.Start | date: 'longDate'}}</H1>
            <h3>In the "{{watchbill.CurrentState.Value}}" Phase.</h3>
            <table class="table-bordered">
                <tr class="text-center">
                    <th ng-repeat="d in ['Su', 'M', 'Tu', 'W', 'Th', 'F', 'Sa']">{{d}}</th>
                </tr>
                <tr ng-repeat="week in watchbill.weeks">
                    <td ng-if="$parent.$first" ng-repeat="day in watchbill.blankStartDays track by $index" width="14%"></td>
                    <td ng-repeat="day in week" class="row" width="14%">
                        <div class="col-md-12">
                            {{day.Date | date: shortDate }}<br/>
                            <span ng-repeat="shift in day.WatchShifts | orderBy: 'Range.Start'">
                                    <ng-shift-nub ng-model="shift"></ng-shift-nub><br/>
                                </span>
                            <br/>
                            <br/>
                            <a class="btn btn-sm" ng-class="{'btn-default':!thisDaySelected(day), 'btn-success':thisDaySelected(day)}" ng-click="selectDay(day)">Select<span ng-if="thisDaySelected(day)">ed</span></a>
                        </div>
                    </td>
                </tr>
                </span>
                </tr>
            </table>
            <br/>
            <br/>
            <button class="btn btn-primary" ng-click="submitChanges()">Submit</button>
        </div>
    </div>
    <div class="row" ng-if="watchbill.NotQualledPersons.length">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <strong>Warning!</strong>The following sailors are listed as eligible for this watchbill, but do not
                    have any watch
                    qualifications.
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="person in watchbill.NotQualledPersons">{{person.FriendlyName}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>