<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}
</div>
<div ng-show="messages" ng-repeat="message in messages track by $index" class="alert alert-success status_message">
    {{message}}
</div>
<div class="content_panel">
    <div class="row">
        <ul class="col-md-10 col-md-offset-1 text-center">
            <H1>Watchbills</H1>
            <div class="list-group text-left">
                <ng-watch-bill-nub ng-repeat="watchbill in watchbills"
                                   watchbill-id="{{watchbill.Id}}"></ng-watch-bill-nub>
            </div>
            <ng-watch-bill-creator ng-model="eligibilityGroups"></ng-watch-bill-creator>
        </ul>
    </div>
</div>