<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}</div>
<div ng-repeat="message in messages" class="alert alert-success">{{message}}</div>
<div class="content_panel">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
            <h4>Editing lists</h4>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Be careful!</strong> Buttons on this page immediately update the database, and actions cannot be undone.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <select class="form-control" id="allLists" ng-model="selectedList" ng-options="k as k for (k, v) in lists">
                <option selected disabled value="">Select a list to edit.</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <table id="emails" class="col-md-12 table table-striped contact-table">
                <thead ng-show="selectedList">
                    <tr>
                        <th>Value</th>
                        <th>Description</th>
                        <th class="text-center">Save</th>
                        <th class="text-center">Delete</th>
                        <th class="text-center">Force</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="o in lists[selectedList]">
                        <td><input type="text" class="form-control" ng-model="o.Value" /></td>
                        <td><input type="text" class="form-control" ng-model="o.Description" /></td>
                        <td><button type="button" class="btn btn-primary btn-xs" ng-click="updateListItem(selectedList, o)"><span class="glyphicon glyphicon-floppy-disk"></span></button></td>
                        <td><button type="button" class="btn btn-danger btn-xs" ng-click="deleteListItem(o, forceDelete)"><span class="glyphicon glyphicon-remove"></span></button></td>
                        <td><label><input type="checkbox" ng-model="forceDelete" /></label></td>
                    </tr>
                    <tr class="info" ng-show="selectedList">
                        <td class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="newValueAddon">New List Item:</span>
                                <input type="text" class="form-control" ng-model="newValue" aria-describedby="newValueAddon" />
                            </div>
                        </td>
                        <td class="col-md-6">
                            <input type="text" class="form-control" ng-model="newDescription" />
                        </td>
                        <td class="col-md-1"></td>
                        <td class="col-md-1"></td>
                        <!--suppress HtmlUnknownAttribute -->
                        <td ckass="col-md-1"><button type="button" class="btn btn-success btn-xs" ng-click="addListItem(selectedList, newValue, newDescription); newValue = '';newDescription =''"><span class="glyphicon glyphicon-plus"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
