<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}</div>
<div class="content_panel">
	<!--suppress HtmlUnknownAttribute -->
    <form name="form" ng-submit="forgotpassword()" role="form">
		<div class="form-group">
			<label for="email">Email</label>
			<i class="fa fa-key"></i>
			<input type="text" name="email" id="email" class="form-control" ng-model="email" required />
			<span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
		</div>
		<div class="form-group">
			<label for="ssn">SSN (no spaces or dashes)</label>
			<i class="fa fa-lock"></i>
			<input type="password" name="ssn" id="ssn" class="form-control" ng-model="ssn" required />
			<span ng-show="form.ssn.$dirty && form.ssn.$error.required" class="help-block">SSN is required</span>
		</div>
		<div class="form-actions">
			<!--suppress HtmlUnknownAttribute -->
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Send Email</button>
			<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
			<div class="pull-right">
				<a href="#/register" class="text-right label label-primary">Register</a>
				<a href="#/login"><span class="text-right label label-primary">Login</span></a>
			</div>
		</div>
		<br>
		<div ng-show="confirmation" class="alert alert-success status_message">{{confirmation}}</div>
	</form>
</div>