<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}</div>
<div class="content_panel">
    <div class="row text-center">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="alert alert-info">Use Ctrl key to select multiple fields.</div>
        </div>
    </div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-5">
            <div class="form-group">
                <label for="fieldsToSearch">Fields to Search</label>
			    <select class="form-control" size="10" id="fieldsToSearch" ng-model="fieldsToSearch" ng-options="o for o in searchableFields" multiple>
			    </select>
            </div>
		</div>
		<div class="col-xs-5">
            <div class="form-group">
                <label for="fieldsToReturn">Fields to Return</label>
                <select class="form-control" size="10" id="fieldsToReturn" ng-model="fieldsToReturn" ng-options="o for o in returnableFields" multiple></select>
            </div>
        </div>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-10 text-center">
			<div ng-repeat="field in fieldsToSearch" class="form-group col-xs-offset-2 col-xs-8">
			    <div class="input-group">
                    <span class="input-group-addon" id="searchAddon">{{field}}</span>
    				<input type="text" class="form-control" aria-describedby="searchAddon" ng-model="advancedSearchFilters[field]" ng-keyup="searchOnEnter($event, advancedSearchFilters, fieldsToReturn)">
                </div>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="text-center">

            <button class="btn btn-primary" type="button" ng-click="goToResults(advancedSearchFilters, fieldsToReturn)" ng-disabled="!fieldsToReturn || !fieldsToReturn">Search</button>

        </div>
    </div>
	<div class="row">
		<div class="col-xs-12">
			<h3 class="text-center" ng-show="results">Showing {{results.length}} results.</h3>
			<h4 class="text-center" ng-show="results">Click a column to sort by it.</h4>
            <div class="table-responsive" style="height: 500px !important; overflow: scroll">
                <table ng-show="results" class="table-striped col-xs-12">
                    <thead>
                        <tr>
                            <th ng-repeat="field in searchByFieldReturns" ng-click="setOrder(field)"><button ng-class="{'btn-primary': orderKey==field || orderKey=='-'+field}">{{field}}<span class="glyphicon glyphicon-chevron-up" ng-if="orderKey=='-'+field"></span><span class="glyphicon glyphicon-chevron-down" ng-if="orderKey==field"></span></button></th>
                            <th>Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in results | orderBy: orderKey" ng-click="goToProfile(result.ID)">
                            <td ng-repeat="field in searchByFieldReturns">{{result[field]}}</td>
                            <td><a href="#/profile/{{result.ID}}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</div>
