<div ng-show="errors" ng-repeat="error in errors track by $index" class="alert alert-danger status_message">{{error}}</div>
<div ng-repeat="message in messages" class="alert alert-success">{{message}}</div>
<div class="content_panel">
    <div class="panel panel-primary" ng-repeat="question in questions" id="question.Name">
        <div class="panel-heading">
            <div class="panel-title">{{question.Question}}
                </div>
        </div>
        <div class="panel-body">
            <p ng-repeat="Paragraph in question.Paragraphs">
                {{Paragraph}}
            </p>
        </div>
    </div>
</div>
